body {
    background-color: #292828;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
}
h1 {
    color: red;
    font-size: 36px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid red;

}
p {
    background-color: #444444;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #868686;
    line-height: 1.5;
}
.caja {
    border-left: 5px solid red;
    border-top: 2px none;
    border-right: 2px none;
    border-bottom: 2px none;
}
.resaltat {
    background-color: rgb(68, 6, 6);
    color: red;
    padding-right: 0.5em;
    padding-left: 0.5em;
}